<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Wallet Project - Con(tact) us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/flaticon/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/aos.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/contact.css}"/>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div th:replace="fragments/header :: header"></div>
<div th:style="'background-color: #cccccc; padding: 200px;'"
     data-aos="fade" id="home-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Contact Us</h2>
            </div>
        </div>
        <div class="row mb-5">


            <div class="col-md-4 text-center">
                <p class="mb-4">
                    <a href="https://www.google.com/maps/place/%D0%A2%D0%B5%D0%BB%D0%B5%D1%80%D0%B8%D0%BA+%D0%90%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D1%8F/@42.6500105,23.3744217,17z/data=!3m1!4b1!4m6!3m5!1s0x40aa86940322e46b:0x9dcf2a89d173b821!8m2!3d42.6500067!4d23.3792926!16s%2Fg%2F119vp8h9s?entry=ttu">
                        <span class="icon-room d-block h2 text-primary"></span>
                        <span>30, ul. "Krastyu Rakovski" str, 1729 Sofia</span>
                    </a>
                </p>
                <div class="hover-image">
                    <img th:src="@{/images/contact_location.png}" alt="Image" class="img-fluid">
                </div>
            </div>

            <div class="col-md-4 text-center">
                <p class="mb-4">
                    <span class="icon-phone d-block h2 text-primary"></span>
                    <a href="#">+1 232 3235 324</a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <p class="mb-0">
                    <span class="icon-mail_outline d-block h2 text-primary"></span>
                    <a href="mailto:wallet.project.a48@badmin.org">wallet.project.a48@badmin.org</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <form th:action="@{/contact}" th:object="${contactForm}" method="post" class="p-5 bg-white">
                    <h2 class="h4 text-black mb-5">Contact Form</h2>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="email" th:field="*{email}" class="form-control" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" th:field="*{subject}" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <textarea th:field="*{message}" cols="30" rows="7" class="form-control"
                                      placeholder="Write your notes or questions here..."></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>