<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Wallet Project - Site terms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/flaticon/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/aos.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div th:replace="fragments/header :: header"></div>

<div th:style="'background-color: #cccccc;'"
     data-aos="fade" id="home-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="terms-content">
                <h2 class="text-center" th:text="#{site.terms}"/><br/><br/><br/>
                <p class="terms-text">
                <p> Effective Date: 08/08/2028</p><br/>
                <p> These Terms and Conditions ("Terms") govern your use of the [Wallet App] ("App") provided
                    by [The Wallet App]("we," "our," or "us"). By accessing or using the App, you agree to comply with
                    these Terms. If you do not agree with any part of these Terms, please do not use the App.</p>

                <p><b> 1. Account Registration:</b><br/>
                    You must create an account to use the App. You agree to provide accurate and complete information
                    during the registration process. You are responsible for maintaining the confidentiality of your
                    account credentials and for all activities that occur under your account.</p>

                <p><b>2. Use of the App:</b><br/>
                    2.1. You may use the App to manage your digital wallet, make payments, transfer funds, and perform
                    other financial transactions.<br/>
                    2.2. You agree not to use the App for any illegal, unauthorized, or fraudulent activities.<br/>
                    2.3. You are solely responsible for the accuracy of transaction details and ensuring you have
                    sufficient funds in your wallet.<br/></p>

                <p><b>3. Privacy and Data Security:</b><br/>
                    3.1. We collect and process personal information as described in our Privacy Policy [link to Privacy
                    Policy].<br/>
                    3.2. You are responsible for maintaining the security of your device and protecting your account
                    information.<br/></p>

                <p> <b>4. Payments:</b><br/>
                    4.1. The App allows you to make payments to merchants, individuals, and other users.<br/>
                    4.2. Payments are subject to processing and may take time to reflect in the recipient's
                    account.<br/>
                    4.3. We are not responsible for any unauthorized payments made from your account.<br/></p>

                <p> <b>5. Fees and Charges:</b><br/>
                    5.1. Certain transactions or services may be subject to fees. The applicable fees will be clearly
                    communicated before you proceed with the transaction.<br/>
                    5.2. You agree to pay any applicable fees associated with your use of the App.<br/></p>

                <p><b> 6. Intellectual Property:</b><br/>
                    6.1. The App and its content are protected by intellectual property laws and are the property of
                    [The
                    Wallet App].<br/>
                    6.2. You may not reproduce, distribute, or modify any part of the App without our prior written
                    consent.<br/></p>

                <p><b> 7. Termination:</b><br/>
                    7.1. We reserve the right to terminate or suspend your account and access to the App at our
                    discretion.<br/>
                    7.2. You may also terminate your account by contacting our customer support.<br/></p>

                <p><b> 8. Disclaimer of Warranties:</b><br/>
                    8.1. The App is provided "as is" without any warranties or guarantees.<br/>
                    8.2. We are not responsible for any technical issues, errors, or interruptions in the App's
                    functionality.<br/></p>

                <p><b> 9. Limitation of Liability:</b><br/>
                    9.1. We shall not be liable for any direct, indirect, incidental, special, or consequential damages
                    arising from your use of the App.<br/>
                    9.2. Your use of the App is at your own risk.<br/></p>

                <p><b> 10. Changes to the Terms:</b><br/>
                    We reserve the right to modify these Terms at any time. Changes will be effective upon posting the
                    updated Terms on the App. It is your responsibility to review the Terms regularly.<br/></p>

                <p> <b>11. Governing Law:</b><br/>
                    These Terms shall be governed by and construed in accordance with the laws of the Universe and
                    Physics.<br/></p>

                <p> By using the App, you acknowledge that you have read and understood these Terms and agree to abide
                    by
                    them. If you have any questions, please contact our customer support at [support email or phone
                    number].<br/></p>

                <p>[The Wallet App]<br/><br/></p>

                <p><b> Note: This is a mock set of Terms and Conditions.</b><br/>
                </p>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>