<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Wallet Project - Pricing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/flaticon/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/aos.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h2 class="section-title mb-3">Happy Customers</h2>
        </div>
    </div>
</div>
<div class="slide-one-item home-slider owl-carousel">
    <div>
        <div class="testimonial">

            <blockquote class="mb-5">
                <p>&ldquo;Absolutely thrilled with the seamless experience! Managing my finances has never been
                    easier. Kudos to your team!&rdquo;</p>
            </blockquote>

            <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img th:src="@{/images/person_1.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>John Smith</p>
            </figure>
        </div>
    </div>
    <div>
        <div class="testimonial">

            <blockquote class="mb-5">
                <p>&ldquo;Impressed by the user-friendly interface. Adding cards to my wallet was a breeze. You've
                    made my transactions hassle-free!&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img th:src="@{/images/person_2.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Christine Aguilar</p>
            </figure>

        </div>
    </div>

    <div>
        <div class="testimonial">

            <blockquote class="mb-5">
                <p>&ldquo;A game-changer for my financial management. Verified email, created my wallet, and voilà!
                    It's like magic. Thank you!&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img th:src="@{/images/person_3.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Robert Spears</p>
            </figure>


        </div>
    </div>

    <div>
        <div class="testimonial">

            <blockquote class="mb-5">
                <p>&ldquo;I'm all smiles with your service. From registration to card linking, everything was a
                    cakewalk. Can't imagine life without it!&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img th:src="@{/images/person_1.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Bruce Rogers</p>
            </figure>

        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>



