body {
    background-color: transparent;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.user-name {
    flex-grow: 1;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.action-button:hover {
    background-color: #555;
}

.user-details {
    background-color: #444;
    color: #fff;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    left: -30px;
    display: flex;
    flex-direction: column;
}

.user-details p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.user-item-search {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    vertical-align: top;
}

.user-details-search {
    background-color: #444;
    color: #fff;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
}

.image-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Adjust the spacing as needed */
}

.image-section {
    text-align: center;
}

.avatar-image,
.id-image {
    max-width: 150px; /* Adjust the image width as needed */
    height: auto;
    margin-bottom: 10px; /* Adjust the spacing between the image and checkbox */
}

#imageModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#enlargedImage {
    display: block;
    margin: auto;
    max-width: 800px; /* Max width for the enlarged image */
    width: auto;
    max-height: 80%; /* Max height for the enlarged image */
    cursor: pointer;
}

#enlargedImage:hover {
    opacity: 0.8;
}

#enlargedImage:after {
    content: "Close";
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}