.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user-info {
    font-size: 14px;
    margin: 5px 0;
}

/**/
.user-profile-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.avatar-section {
    flex: 1;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}

.avatar-image {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.user-info-section {
    flex: 2;
    padding-left: 20px;
    text-align: left;
}

.username-field {
    display: inline-block;
    width: 36%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f7f7f7;
    font-size: 14px;
    color: #333;
    height: 30px;
    line-height: 20px;
    vertical-align: middle;
}

.avatar-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
