<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Wallet Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/flaticon/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/aos.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div th:replace="fragments/header :: header"></div>


<div class="site-blocks-cover overlay" th:style="'background-image: url(' + |@{/images/background.jpg}| + ');'"
     data-aos="fade" id="home-section">


    <div class="container" th:if="${session.currentUser != null}">
        <div class="row align-items-center justify-content-center">


            <div class="col-md-10 mt-lg-5 text-center">
                <div class="single-text owl-carousel">
                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Go to your wallet</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Take control of your financial
                            journey by navigating to your wallet today. Once there, you'll find a world of possibilities
                            waiting for you. Your wallet is your gateway to seamless management of your assets, so don't
                            hesitate to click the link and begin
                            your financial exploration now.</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/wallets}" class="btn btn-primary mr-2 mb-2">Open your wallet</a>
                        </div>
                    </div>

                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Transaction history</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Access your transaction history to
                            review your financial activities at a glance. Stay informed about your spending, income, and
                            transfers by clicking the link below. It's your key to financial insights—start exploring
                            now!</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/transactions}" class="btn btn-primary mr-2 mb-2">Go to transaction
                                history</a>
                        </div>
                    </div>

                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Check your cards</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Stay on top of your card accounts
                            effortlessly. By selecting 'Check your cards,' you can quickly access your card details,
                            balances, and recent transactions. It's your go-to spot for managing your cards with ease.
                            Click the link to review your card information now.</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/cards}" class="btn btn-primary mr-2 mb-2">View your cards</a>
                        </div>
                    </div>
                    <div class="slide" th:unless="${user.isPhotoVerified}">
                        <h1 class="text-uppercase" data-aos="fade-up">Verify your identity</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Enhance your security and verify
                            your identity with ease. Our cutting-edge technology allows you to perform secure identity
                            verification through a simple selfie and ID card submission. It's a quick and hassle-free
                            process that ensures your accounts and transactions are protected. Verify your identity
                            today for added peace of mind.</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/users/idVerification}" class="btn btn-primary mr-2 mb-2">Verify identity</a>
                        </div>
                    </div>

                    <div class="slide" th:unless="${user.isPhotoVerified}">
                        <h1 class="text-uppercase" data-aos="fade-up">Invite a friend</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Extend an invitation to a friend
                            and unlock a world of benefits! When your friend joins us, both of you will receive a bonus
                            in your accounts. It's a simple way to enhance your experience together and make your
                            journey with us even more exciting. So, seize this opportunity to invite a friend and enjoy
                            the rewards that come with it.</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/users/invite}" class="btn btn-primary mr-2 mb-2">Invite friend</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="container" th:unless="${session.currentUser != null}">
        <div class="row align-items-center justify-content-center">


            <div class="col-md-10 mt-lg-5 text-center">
                <div class="single-text owl-carousel">
                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Banking Solutions</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Experience top-tier banking
                            solutions with us. Our expertise and dedication set us apart, ensuring your financial needs
                            are met seamlessly. Trust the best for your banking success.</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/users/new}" class="btn btn-primary mr-2 mb-2">Register now</a>
                        </div>
                    </div>

                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Financing Solutions</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Unlock your financial potential
                            with our expert financing solutions. Tailored for your success.</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/users/new}" class="btn btn-primary mr-2 mb-2">Register now</a>
                        </div>
                    </div>

                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Savings Accounts</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Maximize your savings with our
                            interest-bearing accounts. Deposit confidently and watch your savings grow.</p>
                        <div data-aos="fade-up" data-aos-delay="100">
                            <a th:href="@{/users/new}" class="btn btn-primary mr-2 mb-2">Register now</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
    </a>
</div>


<div class="site-section cta-big-image" id="about-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="" th:text="#{site.about_us}"/>
                <p class="lead" data-aos="fade-up" data-aos-delay="100" th:text="#{site.about_us_msg}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                <figure class="circle-bg">
                    <img th:src="@{/images/img_2.jpg}" alt="Img" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                <h3 class="text-black mb-4" th:text="#{site.solving}"/>
                <p th:text="#{site.solving_msg}"/>
                <p th:text="#{site.solving_msg_additional}"/>
            </div>
        </div>

    </div>
</div>

<div class="site-section" id="next">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
                <img th:src="@{/images/flaticon-svg/svg/001-wallet.svg}" alt="wallet" class="img-fluid w-25 mb-4">
                <h3 class="card-title">Money Savings</h3>
                <p>Boost your wallet's health with smart Money Savings strategies. Secure your future while enjoying the
                    present.</p>
            </div>
            <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
                <img th:src="@{/images/flaticon-svg/svg/004-cart.svg}" alt="card" class="img-fluid w-25 mb-4">

                <h3 class="card-title">Online Shopping</h3>
                <p>Shop with ease using our wallet app. Unleash savings while you shop online!</p>
            </div>
            <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
                <img th:src="@{/images/flaticon-svg/svg/006-credit-card.svg}" alt="credit card"
                     class="img-fluid w-25 mb-4">

                <h3 class="card-title">Credit / Debit Cards</h3>
                <p>Experience seamless transactions by effortlessly connecting your cards to our service. Your
                    convenient and secure way to pay.</p>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                <figure class="circle-bg">
                    <img th:src="@{/images/about_2.jpg}" alt="about" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                <div class="mb-4">
                    <h3 class="h3 mb-4 text-black">Banking Solutions Is Our Priority</h3>
                    <p>Specializing in banking solutions is our top priority. Count on us for expertly tailored services
                        to meet your unique financial needs.</p>
                </div>
                <div class="mb-4">
                    <ul class="list-unstyled ul-check success">
                        <li>Expert Banking Solutions</li>
                        <li>Tailored Financial Services</li>
                        <li>Priority on Your Financial Needs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="site-section border-bottom" id="team-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Meet Team</h2>
                <p class="lead" th:text="#{site.team_msg}" data-aos="fade-up" data-aos-delay="100"/>
            </div>
        </div>
        <div class="row">
            <div th:each="filename : ${imageFilenames}" class="col-md-6 col-lg-3 mb-4" data-aos="fade-up"
                 data-aos-delay="">
                <div class="team-member">
                    <figure>

                        <ul class="social">
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                        <img th:src="@{'/images/team/' + ${filename}}" alt="Image" class="img-fluid">
                    </figure>
                    <div class="p-3">
                        <h3>Team Member Name</h3>
                        <span class="position">Position</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">How It Works</h2>
                <p class="lead" data-aos="fade-up" data-aos-delay="100">Get started in three simple steps: sign up on
                    our site, create a secure wallet, and connect your cards. Enjoy easy transactions with us!</p>
            </div>
        </div>

        <div class="row align-items-lg-center">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

                <div class="owl-carousel slide-one-item-alt">
                    <img th:src="@{/images/img_1.jpg}" alt="Image" class="img-fluid">
                    <img th:src="@{/images/img_2.jpg}" alt="Image" class="img-fluid">
                    <img th:src="@{/images/img_3.jpg}" alt="Image" class="img-fluid">
                </div>
                <div class="custom-direction">
                    <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a
                        href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
                </div>

            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

                <div class="owl-carousel slide-one-item-alt-text">
                    <div>
                        <h2 class="section-title mb-3">01. Online registration</h2>
                        <p>Sign up hassle-free online! Register on our website, complete the
                            form with your name, email, and password, then hit "Submit".
                            Your financial journey begins now!</p>

                        <p><a th:href="@{/users/new}" class="btn btn-primary mr-2 mb-2">Register now!</a></p>
                    </div>
                    <div>
                        <h2 class="section-title mb-3">02. Verify your email</h2>
                        <p>Take the next step by verifying your email. After completing the registration, check your
                            inbox for an email from us. Click on the verification link provided in the email to activate
                            your account. This simple process ensures the security of your account and unlocks access to
                            all our features. Your seamless experience awaits!
                        </p>
                        <p><a th:href="@{/users/verify}" class="btn btn-primary mr-2 mb-2">Verify manually</a></p>
                    </div>
                    <div>
                        <h2 class="section-title mb-3">03. Create wallet and add your cards</h2>
                        <p>Once your email is verified, take the next step towards financial empowerment. Log in to your
                            account and embark on a straightforward journey. Craft your own wallet within moments, and
                            enjoy the convenience of a consolidated payment hub. Adding your credit and debit cards is a
                            breeze – our intuitive interface guides you through the process effortlessly.
                        </p>
                        <p><a th:href="@{/cards}" class="btn btn-primary mr-2 mb-2">Add Card!</a></p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


<section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
                <h2 class="section-title mb-3">Our Services</h2>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img th:src="@{/images/flaticon-svg/svg/001-wallet.svg}" alt="wallet"
                             class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Business Consulting</h3>
                        <p>Unlock the potential of your business with our expert consulting services. Navigate
                            challenges, seize opportunities, and achieve growth under our strategic guidance. Your
                            success is our priority.</p>
                        <p><a th:href="${session.currentUser == null ? '/users/new' : '/wallet'}">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img th:src="@{/images/flaticon-svg/svg/006-credit-card.svg}" alt="Flat"
                             class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Credit Cards</h3>
                        <p>Experience the freedom of convenient payments with our credit card solutions. From everyday
                            expenses to special purchases, we offer flexibility and security, making transactions
                            a breeze.</p>
                        <p><a th:href="${session.currentUser == null ? '/users/new' : '/wallet'}">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img th:src="@{/images/flaticon-svg/svg/002-rich.svg}" alt="rich"
                             class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Income Monitoring</h3>
                        <p>Monitor your income effortlessly through our user-friendly platform. With intuitive tools and
                            clear insights, staying on top of your finances has never been this easy. Take control and
                            make informed decisions with our income monitoring feature.</p>
                        <p><a th:href="${session.currentUser == null ? '/users/new' : '/wallet'}">Learn More</a></p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img th:src="@{/images/flaticon-svg/svg/003-notes.svg}" alt="notes"
                             class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Insurance Consulting</h3>
                        <p>While we can't provide insurance directly, we're here to offer expert consulting that guides
                            you through the complex world of insurance. Make informed decisions to protect what matters
                            most with our reliable advice and personalized solutions.</p>
                        <p><a th:href="${session.currentUser == null ? '/users/new' : '/wallet'}">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img th:src="@{/images/flaticon-svg/svg/004-cart.svg}" alt="cart"
                             class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Financial Investment</h3>
                        <p>Grow your wealth with confidence through strategic financial investments. Our expert guidance
                            and diverse investment options empower you to secure your future and achieve your goals.
                            Start your journey towards financial prosperity today.</p>
                        <p><a th:href="${session.currentUser == null ? '/users/new' : '/wallet'}">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img th:src="@{/images/flaticon-svg/svg/005-megaphone.svg}" alt="megaphone"
                             class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Financial Management</h3>
                        <p>Take charge of your financial destiny with our comprehensive management solutions. From
                            budgeting to planning for the future, our platform equips you with the tools you need to
                            make wise decisions and achieve your financial aspirations. </p>
                        <p><a th:href="${session.currentUser == null ? '/users/new' : '/wallet'}">Learn More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Happy Customers</h2>
            </div>
        </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;Absolutely thrilled with the seamless experience! Managing my finances has never been
                        easier. Kudos to your team!&rdquo;</p>
                </blockquote>

                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img th:src="@{/images/person_1.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>John Smith</p>
                </figure>
            </div>
        </div>
        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;Impressed by the user-friendly interface. Adding cards to my wallet was a breeze. You've
                        made my transactions hassle-free!&rdquo;</p>
                </blockquote>
                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img th:src="@{/images/person_2.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>Christine Aguilar</p>
                </figure>

            </div>
        </div>

        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;A game-changer for my financial management. Verified email, created my wallet, and voila!
                        It's like magic. Thank you!&rdquo;</p>
                </blockquote>
                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img th:src="@{/images/person_3.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>Robert Spears</p>
                </figure>


            </div>
        </div>

        <div>
            <div class="testimonial">

                <blockquote class="mb-5">
                    <p>&ldquo;I'm all smiles with your service. From registration to card linking, everything was a
                        cakewalk. Can't imagine life without it!&rdquo;</p>
                </blockquote>
                <figure class="mb-4 d-flex align-items-center justify-content-center">
                    <div><img th:src="@{/images/person_1.jpg}" alt="Image" class="w-50 img-fluid mb-3"></div>
                    <p>Bruce Rogers</p>
                </figure>

            </div>
        </div>

    </div>
</section>

<section class="site-section bg-light" id="pricing-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade-up">
                <h2 class="section-title mb-3">Pricing</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="">
                <div class="pricing">
                    <h3 class="text-center text-black">Basic</h3>
                    <div class="price text-center mb-4 ">
                        <span>Free</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">

                        <li>Create wallets</li>
                        <li>Add cards to wallets</li>
                        <li>Send/receive money to/from other users</li>
                        <li class="remove">Smiles through the FM radio</li>
                        <li class="remove">Sneeze-like cardio instructions</li>
                    </ul>
                    <p class="text-center">
                        <a th:href="@{/users/new}" class="btn btn-secondary">Register</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 pricing-popular" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing">
                    <h3 class="text-center text-black">Premium</h3>
                    <div class="price text-center mb-4 ">
                        <span><span>$214</span> / year</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">

                        <li>Create wallets</li>
                        <li>Add cards to wallets</li>
                        <li>Send/receive money to/from other users</li>
                        <li>Smiles through the FM radio</li>
                        <li class="remove">Sneeze-like cardio instructions</li>
                    </ul>
                    <p class="text-center">
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing">
                    <h3 class="text-center text-black">Professional</h3>
                    <div class="price text-center mb-4 ">
                        <span><span>$519</span> / year</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">

                        <li>Create wallets</li>
                        <li>Add cards to wallets</li>
                        <li>Send/receive money to/from other users</li>
                        <li>Smiles through the FM radio</li>
                        <li>Sneeze-like cardio instructions</li>
                    </ul>
                    <p class="text-center">
                        <a href="#" class="btn btn-secondary">Buy Now</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row site-section" id="faq-section">
            <div class="col-12 text-center" data-aos="fade">
                <h2 class="section-title" th:text="#{site.faq}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4">What types of transactions can I perform using the app?</h3>
                    <p> Our app enables a wide range of transactions, including fund transfers, bill payments, mobile
                        recharges, peer-to-peer transfers, and more. You can also monitor your account balance and
                        transaction history in real-time.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4">How secure is my financial information and transactions?</h3>
                    <p>We prioritize your security. Our app uses advanced encryption and security protocols to safeguard
                        your personal and financial data. We also offer two-factor authentication (2FA) options for an
                        added layer of protection.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4">Are there any fees associated with using the app?</h3>
                    <p>While many features of the app are free, certain transactions or services may incur fees. These
                        fees will be clearly communicated before you proceed with the transaction, ensuring
                        transparency.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4">How quickly are transactions processed?</h3>
                    <p>Most transactions are processed instantly, ensuring that your funds are available when you need
                        them. However, some transfers might take a bit longer due to factors such as bank processing
                        times.</p>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"> Can I link my bank account to the app?</h3>
                    <p>Yes, you can link your bank account to the app for seamless fund transfers. We use secure
                        connections to ensure the safety of your financial information.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4">What is your opening time?</h3>
                    <p>We're pleased to offer round-the-clock service, 24 hours a day, 7 days a week. Our commitment to
                        accessibility means you can access our services, support, and assistance whenever you need them,
                        no matter the time zone or location. Whether it's daytime or nighttime, we're here to provide
                        uninterrupted support and ensure a seamless experience for all our users.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4">What should I do if I encounter a problem with a transaction?</h3>
                    <p>If you experience any issues with a transaction, reach out to our customer support team. We're
                        available [business hours/timezone] to assist you and resolve any concerns you may have.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="text-black h4 mb-4"> Is there a limit on how much I can transact using the app?</h3>
                    <p>Depending on your account type and verification status, there might be transaction limits. You
                        can find this information in the app or on our website. If you need higher limits, you can
                        request an upgrade with the necessary documentation.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section" id="about-section-lower">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                <figure class="circle-bg">
                    <img th:src="@{/images/img_4.jpg}" alt="some other image" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">


                <div class="row">


                    <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="">
                        <div class="unit-4 d-flex">
                            <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span>
                            </div>
                            <div>
                                <h3>Bank Loan</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts.</p>
                                <p class="mb-0"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="unit-4 d-flex">
                            <div class="unit-4-icon mr-4 mb-3"><span
                                    class="text-primary flaticon-smartphone"></span></div>
                            <div>
                                <h3>Banking Consulation </h3>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a
                                    large language ocean.</p>
                                <p class="mb-0"><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</section>

<section class="site-section bg-light" id="contact-section" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Contact Us</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 text-center">
                <p class="mb-4">
                    <a href="https://www.google.com/maps/search/30,+ul.+%22Krastyu+Rakovski%22+str,+1729+Sofia/@42.6499324,23.376635,17z/data=!3m1!4b1?entry=ttu">
                        <span class="icon-room d-block h2 text-primary"></span>
                        <span>30, ul. "Krastyu Rakovski" str, 1729 Sofia</span></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <p class="mb-4">
                    <span class="icon-phone d-block h2 text-primary"></span>
                    <a href="#">+1 232 3235 324</a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <p class="mb-0">
                    <span class="icon-mail_outline d-block h2 text-primary"></span>
                    <a href="mailto:wallet.project.a48@badmin.org">wallet.project.a48@badmin.org</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <form th:action="@{/contact}" th:object="${contactForm}" method="post" class="p-5 bg-white">
                    <h2 class="h4 text-black mb-5">Contact Form</h2>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="email" th:field="*{email}" class="form-control" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" th:field="*{subject}" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <textarea th:field="*{message}" cols="30" rows="7" class="form-control"
                                      placeholder="Write your notes or questions here..."></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>